html,body {
    margin: 0 auto;
    font-family: "Roboto",sans-serif;
    overflow: hidden;
}

h1 {
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-110%);
    color: #fff;
    font-size: 120px;
    font-weight: 300;
    text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all .3s  cubic-bezier(1, -0.5, 0, 1.5);
    -moz-transition: all .3s  cubic-bezier(1, -0.5, 0, 1.5);
    -o-transition: all .3s  cubic-bezier(1, -0.5, 0, 1.5);
    transition: all .3s  cubic-bezier(1, -0.5, 0, 1.5);
}

h1:hover {
    top: 49%;
    text-shadow: 6px 6px 5px rgba(0,0,0,0.1),0 0 5px #fff;
}

h1:active {
    font-size: 1000%;
    top: 49%;
    text-shadow: 6px 6px 5px rgba(0,0,0,0.1),0 0 5px #fff;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    animation: scale 1s ease;
    animation-fill-mode: forwards;
    pointer-events: auto;
    width: 100%;
}

#nprogress .bar {
    background: #ecf0f1;
    box-shadow: 0 0 5px #ecf0f1;
}

#nprogress .peg {
    box-shadow: 0 0 10px #ecf0f1,0 0 5px #ecf0f1;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
