*::selection {
  color: white;
  background: #ff69b4;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 100%;
  width: 450px;
  border-bottom: 1px solid #777;
}

header > h1 {
  font-size: 3em;
}

header > p {
  font-size: 18px;
  margin-top: -35px;
  margin-left: 165px;
}

#content {
  text-align: center;
}

#project {
  display: block;
}

.projTitle {
  color: #000;
  font-size: 20px;
}
.projDetail {
  color: #777;
  font-size: 18px;
  margin-top: 0px;
}
.projMedia {
  width: 300px;
  height: 300px;
}
video,img,footer {
  -webkit-user-select: none;
}

.smolBean {
  font-size: 12px;
}

footer {
  border-top: 1px solid #777;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 100%;
  width: 450px;
  cursor: default;
}

#profiles > .fa {
  color: #777;
  margin: 3px;
  font-size: 20px;
  text-decoration: none;
  transition: color .1s ease;
}

.fa-github:hover {
  color: #333 !important;
}
.fa-key:hover {
  color: #33a0ff !important;
}
.fa-telegram:hover {
  color: #0088cc !important;
}
.fa-twitter:hover {
  color: #1da1f2 !important;
}
.fa-reddit-alien:hover {
  color: #ff4500 !important;
}
.fa-steam:hover {
  color: #000000 !important;
}
.fa-soundcloud:hover {
  color: #ff8800 !important;
}
.fa-twitch:hover {
  color: #6441a5 !important;
}
